/* Seems necessary to make iframes work on itch.io on mobile iOS :-( */
.outerWrapper {
  position: absolute;
  display: block;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.wrapper {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 4em;
  background: white;
}

.wrapper .hide {
  opacity: 0;
}

.wrapper .invisible {
  display: none;
}

.wrapper * {
  opacity: 1;
  transition: opacity 1s;
}

/* first choice */
:not(.choice) + .choice {
  padding-top: 1em;
}
